{% extends "flask_user_layout.html" %}
{% block content %}
  <center>
    <h2>CHAT</h2>
    <a href="{{ url_for('home_page') }}" class="btn btn-primary" tabindex='190'>
        {%trans%}Back{%endtrans%}</a>
    <!-- Navbar with input and send button -->
    <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
      <form action="" method="POST" class="form" role="form">
          {{ form.hidden_tag() }}
          {{ render_field(form.message_text, tabindex=10) }}
          {{ render_submit_field(form.submit, tabindex=90) }}
      </form>
        <div class="container">
          <div class="navbar-item is-expanded">
            <input id="chat_text" class="input" type="text">
            <a id="chat_btn" class="button is-info">
              Send
            </a>
          </div>
        </div>
      </nav>

    <!-- This part corresponds to the one that grabs the messages stored in the db -->
    <div id="content" class="container" style="overflow-y:auto; margin-bottom: 100px;">
    {% for message in messages %}
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ message.username }}</strong>
            <br> {{ message.message }}
          </p>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  </center>

{% endblock %}
