
#logo{
  width:60px;
  margin-right:10px;
}

#title-logo{
  color:#76E6B6;
  margin-top: 8px;
}

.test{
  background-color: red;
}

.box_position{
  border-collapse: separate;
  background-color: blue;
  border-radius: 25px;
  border: 2px solid grey;
  height: 10%;
}
