{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}


  <center>
    <h2>Change preferences</h2>
    <br>
    <br>
      {{ form.hidden_tag() }}
    <form action="" method="POST" novalidate formnovalidate class="form" role="form">

      {{ current_city  }}
    {{ render_field(form.city, tabindex=30) }}
    {{ render_field(form.field, tabindex=30) }}
    {{ render_submit_field(form.submit, tabindex=280) }}
    </form>

  </center>
{% endblock %}
