{% extends "flask_user_layout.html" %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% block content %}

<style >/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #76E6B6;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}</style>


  <center>
  <div class="split left" style="overflow:auto; ">
   <div >
    <h4>Your applicants:</h4>
    {%for request in requests%}
    <form  name  ="chat" action="" method="POST" novalidate formnovalidate class="form" role="form">

        <div class="card" onClick="javascript:this.parentNode.submit();">
         <div class="card" style="background: white; border-style: double; border-color: #3abc83; width: 630px; height: 100px; margin-bottom: 5px; ">
          <img src="{{ url_for('static', filename='images/user_image.png')}}" style=" border-radius:0px; height:70px; width:70px;" align="left">
          <h5>{{request['applicant_first_name']}} {{request['applicant_last_name']}} lala</h5>
          <!-- <p>{{request['position_name']}}</p> -->
          <p>position_id : {{request['position_id']}}</p>
            {{ change_chat_form.applicant_id( value= request['applicant_id'] ) }}
            {{ change_chat_form.position_id( value= request['position_id'] ) }}
            {{ change_chat_form.name_form( value= "chat" ) }}


         </div>
        </div>
    </form>
    {%endfor%}
   </div>
  </div>
<div class="split right">

  Applicant ID: {{ chat_applicant_id }}
  Position ID: {{ chat_position_id }}
  <div style="height:60%;width:90%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto; padding-bottom: 10px; ">
      {% for message in messages %}
        <div class="">
            {{ message['sender'] }} sent : {{ message['text'] }}
        </div>
      {%endfor%}
  </div>
  <br>
  <div style="margin-left: 10px; margin-right: 10px; ">
    <form action="" name="add_message" value ="add" method="POST" novalidate formnovalidate class="form" role="form">
    {{ render_field(form.message, tabindex=30) }}
    {{ render_submit_field(form.submit, tabindex=90) }}
    {{ form.name_form( value= "add_message" ) }}
    </form>
  </div>
</div>
</center>


{% endblock %}
