{% extends "flask_user_layout.html" %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{% from "_rendering_utils.html" import render_box_position %}

{% block content %}
        <center>

        <h2>Hi {{ current_user.first_name }} !</h2>
        <h4>Remember to change your preferences if you haven't yet ;) </h4>

        </center>
        {% set counter = 0 %}
        <div class="container">
        <h3> Your Matches</h3>
        <br>
        <center>
          {{ test }}
          {% for each in matches %}

          <div class="col-md-4" >
            <div class="box_position" style="background-color:white; margin-bottom: 70px;border-radius: 10px; border: 5px solid #76E6B6; " >
              <h4 style="background-color: #76E6B6; margin-top: 0px; padding-top: 10px; padding-bottom:10px; border-radius-top: 15px;   ">{{ each['name'] }}</h4>
              <br>
              <h5>Salary: {{ each['salary'] }} &euro;</h5>
              <h5>Start Date: {{ each['start_date'] }}</h5>
              <br>
              {% if each['id'] not in requested %}
              <div class="row">
                <div class="col-md-4" >
                <button type="button btn-success" data-toggle="modal" href="#{{ each['id'] }}" role="button" data-target="#{{ each['id'] }}" style="background-color:white; border-radius: 50%; font: bold; color:grey;"> i</button>
                </div>
                <div class="modal fade" id="{{ each['id'] }}" tabindex="-1" role="dialog" aria-labelledby="{{ each['id'] }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                 <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="{{ each['id'] }}"> {{ each['name'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 </div>
                <div class="modal-body">
                 {{ each['description'] }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: #76E6B6;" data-dismiss="modal">Close</button>
                </div>
                </div>
                </div>
                </div>

                <div class="col-md-4" >
                <form action="" method="POST" class="form" role="form">
                    {{ form.csrf_token() }}
                    {{ form.position_id( value= each['id'] ) }}
                    {{ render_submit_field(form.submit, tabindex=90) }}
                </form>
                </div>
                </div>
                <div class="collapse" id="{{ each['id'] }}">
              <div class="card card-body">
              {{ each['description'] }} </div>
              </div>
              {% else %}

              <button type="button btn-success" data-toggle="modal" href="#{{ each['id'] }}" role="button" data-target="#{{ each['id'] }}" style="background-color:white; border-radius: 50%; font: bold; color:grey;"> i</button>
                <div class="modal fade" id="{{ each['id'] }}" tabindex="-1" role="dialog" aria-labelledby="{{ each['id'] }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                 <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="{{ each['id'] }}"> {{ each['name'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 </div>
                <div class="modal-body">
                 {{ each['description'] }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: #76E6B6;" data-dismiss="modal">Close</button>
                </div>
                </div>
                </div>
                </div>


              <button type="button btn-success" style="background-color:#white; border-radius: 5px; height:35px;" disabled> Request has been sent!</button>
              <div class="collapse" id="{{ each['id'] }}">
              <div class="card card-body">
              {{ each['description'] }} </div>
              </div>


              {% endif %}
            </div>
            </div>
          {% endfor %}
      </div>
        </center>







{% endblock %}
