{% extends "flask_user_layout.html" %}
{% block content %}
 <head>
 	<title>SciMatch!</title>
 </head>
 <body class="bg-light">
  <center>
    <h2>Welcome to the Home Page bitches!!</h2>
  </center>
  <div class="row">
   <div class="col-sm-12">
    <div class="text-center">
      <a class="btn btn-success btn-lg bg-lime" href="{{ url_for('why') }}" role="button" style="margin-right: 20px"> Why SciMatch?</a>
      <a href="{{ url_for('who') }}" type="button" class="btn btn-success btn-lg " role="button" style="margin-right: 20px"> Who are we?</a>
    </div>
  </div>
</div>
 </body>
{% endblock %}
