{% extends "flask_user_layout.html" %}
{% block content %}
  <center>
    <h2>Who are we?</h2>
    <h4 class="text-dark"> We are three excellent students that have many differences between us but a common bond: biology and informatics.</h4>
    <img src="{{ url_for('static', filename='images/aina.png')}}" width="500" height="400" align="center">
    <img src="{{ url_for('static', filename='images/luisa.png')}}" width="400" height="400" align="left">
    <img src="{{url_for('static', filename='images/gab.png')}}" width="400" height="400" align="right">
   </center>
{% endblock %}