<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <title>{{ user_manager.USER_APP_NAME }}</title>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  AOS.init();
</script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="jquery-3.3.1.min.js"></script>
    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
        hr { border-color: #cccccc; margin: 0; }
        .no-margins { margin: 0px; }
        .with-margins { margin: 10px; }
        .col-centered { float: none; margin: 0 auto; }
        .box_position{background-color:  display:block;
          width:100%;
          height:150px;

          }
    </style>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css?u={{ last_updated }}')}}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {# *** Allow sub-templates to insert extra html to the head section *** #}
    {% block extra_css %}{% endblock %}
  </head>


<body>
    {% block body %}
    <div id="header-div" class="clearfix with-margins">

        <div class="pull-left"><a href="/scimatch">
        <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" /></a>
        </div>
        <div class="pull-left"><a href="/">
        <a href="/scimatch">  <h1 class="no-margins " id="title-logo" >{{ user_manager.USER_APP_NAME }}</h1></a>
        </div>
        <div class="pull-right">
            {% if call_or_get(current_user.is_authenticated) and role == "Applicant" %}
                <div class="dropdown">
                <button class="btn dropdown-toggle" style=" min-width:159px; background:#ffffff; border-radius:10px;border: 3px solid #76E6B6; padding:8px 20px; color:#000000; display:inline-block; font:normal normal 23px/1 Calibri, sans-serif; text-align: center;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5>{{current_user.first_name}} {{current_user.last_name}}</h5> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style=" min-width:159px;background-color: #bbedda; border: 3px solid #76E6B6; border-radius:10px;">
                        <center>
                    <a class="dropdown-item" style="color:black" href="{{ url_for('user.edit_user_profile') }}">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  style="color:black" href="{{ url_for('change_pref') }}" class="btn btn-primary" tabindex='190'>
                    {%trans%}Preferences{%endtrans%}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  style="color:black" href="{{ url_for('chat_applicant') }}" class="btn btn-primary" tabindex='190'>
                    {%trans%}Chat{%endtrans%}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  style="color:black" href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
                    </center>
                    </div>
                </div>
            {% elif call_or_get(current_user.is_authenticated) and role == "Group" %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" style="width:159px;background:#ffffff; border-radius:10px;border: 3px solid #f9cb9c; padding:8px 20px; color:#000000; display:inline-block; font:normal normal 23px/1 Calibri, sans-serif; text-align: center;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5>Menu</h5> </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" align="center" style="width:159px; background-color:#ffe4c1; border: 3px solid #f9cb9c; border-radius:10px;">
                    <center>
                <a class="dropdown-item" style="color:black" href="{{ url_for('user.edit_group_profile') }}">Edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color:black" href="{{ url_for('chat_group') }}" class="btn btn-primary" tabindex='190'>
                        {%trans%}Chat{%endtrans%}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color:black" href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
                </center>
                </div>
        </div>
            {% else %}
                <a class="btn" style="border-color: #76E6B6; border: 2px solid #76E6B6; border-radius:1000px;"  href="{{ url_for('user.login') }}">
                <h5 style="color:black"> {%trans%}Sign in{%endtrans%} </h5></a>
                <a class="btn" style=" border: 2px solid #f9cb9c; border-radius:1000px;" href="{{ url_for('user.select_register_type') }}">
                <h5 style="color:black">{%trans%}Register{%endtrans%} </h5></a>
            {% endif %}
        </div>
    </div>
    <!--
    {% block menu %}
    <div id="menu-div" class="with-margins">
        <a href="/">{%trans%}Home page{%endtrans%}</a>
    </div>
    {% endblock %}
    -->
    <hr class="no-margins"/>

    <div id="main-div" class="with-margins">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}" style=" border-color:#6e776b; background-image: url({{ url_for('static', filename='images/fondo2.png')}}"""> 
                    <p style="color:black">{{ message|safe }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </div>

    <br/>
    <hr class="no-margins"/>
    <div id="footer-div" class="clearfix with-margins">
        <div class="pull-left">{{ user_manager.USER_APP_NAME }} v1.0</div>
        <div class="pull-right">&copy; 2019 {{ user_manager.USER_APP_NAME }} </div>
    </div>
    {% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">


    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
    {% block extra_js %}{% endblock %}

  </body>
</html>
